/*Fahad Page*/

.bg
{
    margin: 0em;
    padding: 0em;
    background: url(images/pic03.jpg) no-repeat;
    background-size: 100% 100%;
}

.bg button
{
    background: url(images/b.png) no-repeat;
    background-size: 100% 100%;
    border: 0px solid black;
    font-size: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    
    margin: 0.5em;
    
    color: white;
}

h1
{
    margin: 0em;
    padding-left: 1em;
}

.wrap
{
    clear: both;
    width: 100%;
    display: table;
}

.wrap div
{
    width: 25%;
    float: left;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 2em;
    
    margin: 1em;
    margin-left: 4em;
    margin-right: 4em;
    display: table-cell;
}

.wrap h1
{
    text-align: center;
    padding-left: 0em;
}

.wrap p
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.wrap button
{
    background: url(images/b.png) no-repeat;
    background-size: 100% 100%;
    width: 90%;
    border: 0px solid black;
    font-size: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    
    margin: 0.5em;
    
    color: white;
}

.signUp
{
    background-color: gray;
    margin: 3em;
    padding: 1em;
    border-radius: 24px;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 30%;
}

lable
{
    display: inline-block;
    width: 100%;
}

input
{
    width: 100%;
}




