/* Malik & Fahad Page*/

body{
    background-color: #081828;
    color: #fff;
}

#header{
    width: 100%;
    height: 99vh;
    background-image: url(images/homepagebackground1.jpeg);
    background-size: cover;
    background-position: center;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text span{
    color: #a5d771;
}


.header-text h1{
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 60px;
}


.header-text h1 span{
    color: #a5d771;
     font-family: 'Silkscreen', sans-serif;
}

.btn{
background-color: #a5d771;
    margin-top: 40px;
    border-radius: 10px; 
    width: 160px;
    display: inline-block;
    list-style: none;
    width: 200px;
    height: 70px;
}

.btn a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}

.btn:hover{
    background: #57703d;
}


#signupform{
clear: both;
width: 100%;
background-color: #081828;
clear: both;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
margin: auto;
border-radius: 15px;
margin-bottom: 90px;
}


.form{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    max-width: 380px;
    background:#1d2e3f;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 5px 25px black;
}

.title{
    font-size: 28px;
    color: #a5d771;
    font-weight: 600;
    letter-spacing: 0,3px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Silkscreen', sans-serif;
}

#content p{
text-align: justify;

}
#content table{
    margin-left: 3em;
}
#content td{
width:35em;
padding:1em;

}
#content img{
    width: 25em;
    height: 20em;
}
.ct{
    text-align: center;
}
.form-comp{
    display: flex;
    width: 100%;
    grid-row-gap: 6px;
}

.form label{
    position: relative;
}

.form label input{
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #a5d771;
    background: rgba(255,255,255,0.15);
}

.form label input+span{
    position: absolute;
    left: 10px;
    top: 15px;
    color: #fff;
    font-size: 0.9em;
    cursor: text;
    transition: 0,3s ease;
}

.form label:input:placeholder-shown+span{
    top: 15px;
    font-size: 0.9em;
}

.form label input:focus+span,
.form label input:valid+span{
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label input:valid+span{
    color: rgba(255, 255, 255, 0.7);
    
}


.submit{
    border: none;
    outline: none;
    background: #a5d771;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3px ease;
    cursor: pointer;
    transition: 0.3s ease;
}

.submit:hover{
    background: #57703d;
}

#rights{
clear: both;
width: 100%;
display: flex;
margin: auto;    
align-items: center;
justify-content: center;
}


#pages{
    padding: 30px 0;
}

.pages-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.pages-list div{
    background: #1d2e3f;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 12px;
    transition: background 0.5s, transform 0.5s;
}

.pages-list div i{
   font-size: 50px;
    margin-bottom: 30px;
}

.pages-list div h2{
   font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #a5d771;
    font-family: 'Silkscreen', sans-serif;
}

.pages-list div p{
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 1.1px;
    word-spacing: 1.1px;
    line-height: 1.3;
}

.pages-list div a{
   text-decoration: none;
    color: #a5d771;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}

.pages-list div:hover{
   background: #32475b;
    transform: translateY(-10px);
}

.pages-list div a:hover{
   color:#57703d;
}




















