/* Abbas & Fahad page css*/
body
{
    color: white;
}

#header2
{
    width: 100%;
    clear: both;
    background-color: #49a298;
    height: 150px;
    text-align: center;
}

#header2 h1
{
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    
}

#header2 img
{
    
    width: 150px;
    height: 150px;
    float: right;
}

.if h1 
{
    color:#B0E792;
    padding: 2em;;
    text-align: center;
}

#loops h1 
{
    color:#B0E792;
    padding: 2em;;
    text-align: center;
}

.if
{
    
    width: 50%;
    
    float: left;
    
}
.if p
{
    color: white;
    margin-left: 7em;;
    margin-right: 8em;
}
#btn button
{
    height: 3em;
    width: 10em;
    background-color: #49a298;
    margin-left: 5em;;
    margin-top: 4em;
}
#generated_code_space
{
    clear: both;
    width: 35%;
    margin-left: 15em;;
}
#generated_code_space p 
{
    color: white;
}
#cond_table
{
    border: #49a298 solid 2px;
    
    margin-top: 15em;
    
    width: 35%;
    margin-right: 8em;
    float: right;
}
#cond_table td
{
    border: #49a298 solid 2px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: auto;
}

#cond_table .f
{
    text-align: center;
}

#cond_table button
{
    height: 3em;
    width: 10em;
    background-color: #B0E792;
}

p
{
    color:white;
}

th
{
    background-color: #B0E792;
}

#question
{
    color: #B0E792;
    margin-left: 15em;
}

#loops p
{
    color:#B0E792;
}

#loops
{
    margin-left: 2em;
    margin-right: 2em;
}

#loops table
{
    margin: auto;
    padding: 0%;

    margin-bottom: 3em;
    border: #49a298 solid 2px;
}

#loops td
{
    padding: 1.5em;
    border: #49a298 solid 2px;
}

#loops span
{
    color: white;
}

#question
{
    clear: both;
}

.middle
{
    width: 15em;
    /*background-color: #1d2e3f;*/
}

td
{
    background-color: #1d2e3f;
}