/* Abbas & Fahad page css*/
#header2
{
    width: 100%;
    clear: both;
    background-color: #49a298;
    height: 150px;
    text-align: center;
}

#header2 h1
{
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    
}

#header2 img
{
    
    width: 150px;
    height: 150px;
    float: right;
}

.if h1 
{
    color:#B0E792;
    padding: 2em;;
    text-align: center;
}

#loops h1 
{
    color:#B0E792;
    padding: 2em;;
    text-align: center;
}

.if
{
    
    width: 50%;
    
    float: left;
    
}
.if p
{
    color: white;
    margin-left: 7em;;
    margin-right: 8em;
}
#btn button
{
    height: 3em;
    width: 10em;
    background-color: #49a298;
    margin-left: 5em;;
    margin-top: 4em;
}
#generated_code_space
{
    clear: both;
    width: 35%;
    margin-left: 15em;;
}
#generated_code_space p 
{
    color: black;
}
#cond_table
{
    border: #49a298 solid 2px;
    
    margin-top: 15em;
    
    width: 35%;
    margin-right: 8em;
    float: right;
}
#cond_table td
{
    border: #49a298 solid 2px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#cond_table .f
{
    text-align: center;
}

#cond_table button
{
    height: 3em;
    width: 10em;
    background-color: #B0E792;
}
#cond_table p
{
    color:black;
}
.firstr
{
    background-color: #B0E792;
}
#question
{
    color: #B0E792;
    margin-left: 15em;
}

#loops p
{
    color:#B0E792;
}
#loops table
{
  margin: auto;
  padding: 0%;

  margin-bottom: 3em;
}

#loops td
{
    padding: 1.5em;
    border: #49a298 solid 2px;
}
#loops span
{
    color: black;
}

#question
{
    clear: both;
}

.middle
{
    width: 15em;
}



/* Fahad page css*/
.quiz
{
	max-width: 700px;
	width: 100%;
	margin: 50px auto;
	padding: 50px;
	background: #ffffff;
	border-radius: 10px;
}

.quiz h2
{
    color: black;
}

#quiz ul
{
	margin: 0;
	list-style: none;
	color: #7c79c7;
	border: 1px solid #efeeff;
	padding: 20px;
	border-radius: 10px;
	background: #fcfcff;
}

.quiz li+li
{
	margin-top: 16px;
	border-top: 1px solid #efeeff;
	padding-top: 16px;
}

.quiz label
{
    color: black;
}

.btn, .checkBtn
{
    margin-top: 2em;
	padding: 14px 30px;
	background-color: black;
	color: white;
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 10px;
}

/* Fahad page css*/